name: CI

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/hohmannpy/hohmannpy.git
          pip install sphinx sphinx-rtd-theme

      - name: Build docs
        run: |
          sphinx-build -b html . ./docs
